# Ignore everything by default
*

# Only allow specific files
!run.bat
!run.sh
!How to run.md

# Allow source folder and contents
!src/
!src/**

# Ignore compiled Java .class files inside src
src/**/*.class
